*.pyc
*.joblib
*egg-info
.tox
build
dist
.idea
.ipynb_checkpoints
htmlcov
.coverage
.cache
docs/_build
.scrapy
*.pickle.gz
*.jl
*.csv
*.prof
deep-deep/checkpoints/
deep-deep/deepdeep/checkpoints/
.mypy_cache